.tablist {
    scroll-snap-type: x mandatory
}

.tablist::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgb(226 232 240);
}

  
.tablist::-webkit-scrollbar-thumb {
    background: rgb(var(--highlight-rgb));
    -webkit-border-radius: 1ex;
}

.tablist::-webkit-scrollbar-corner {
    background: rgb(226 232 240);
}